#status_list {
	position: absolute;
	left   : 333;
	bottom : 10.5%;
	width  : 10%;
	opacity: 0.45;
}

.status {
	padding: 1px;
	margin: 0.3em;
}

.status_inner {
	padding: 1px;
}

.status_val {
	height : 0.5em;
}
