<head>
	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
	<div class="full-screen">
		<div class="taxi-container">
			<div class="header">
				<h3 class="sans">HORODATEUR  <span class="sans" style="font-size: 10px; text-align: left;">U  afficher | M  demarer le compteur | L  rest le compteur</span></h3>
			</div>
			<div class="body">
					<TABLE border="1" style="width: 100%; border: 3px solid black; border-style: solid;">
						<tr style="color: red;" class="taxifare">
							<td class="currentfare"></td>
							<td class="currentmiles"></td>
							<td>1</td>
						</tr>
						<tr align="center" style="color: white;" class="sans">
							<td><b>Prix</td>
							<td><b>KM</td>
							<td><b>TARIFF</td>
						</tr>
						</table>
						<div style="margin-left: 25px; text-align: left;">
							<span id="hired" class="notactive sans">ON</span> <span style="display:inline-block; width: 20px;"></span><span id="timeoff"   class="active sans">OFF</span>
						</div>

			</div>
			</div>
		</div>
</body>
